body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    margin:0px;
    font-family: sans-serif;
}
h1 {
    text-transform: uppercase;
}

h2 {
    font-size: 100%;
}

li {
    list-style: none;
    font-size: 14px
    text-align:left;
}
::selection {
    background: red; 
    }
::-moz-selection {
    background: red; 
}

#main {
    width: 500px;
    margin: 10px;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    position:absolute;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main li {
    list-style: none;
    width: 450px;

}
#rooms{
    margin-top:10px;
    margin-left:10px;
}
button {
    width: 80px;
    height: 20px;
    border : 0px;
    margin:3px;
    background-color:orange;
    color:purple;
    /*-moz-border-radius:7px;*/
    /*-webkit-border-radius:7px;*/
    border-radius:7px;
}

#friendDiv {
    width: 10%;
    
}